/*:root
{
	--background0: #1E2028;
	--background1: #282B35FF;
	--termDarkBlack: #000000;
	--termLiteBlack: #535353;
	--termDarkRed: #DB2C38;
	--termLiteRed: #FB092C;
	--termDarkGreen: #41B645;
	--termLiteGreen: #46E415;
	--termDarkYellow: #C67C48;
	--termLiteYellow: #FD9050;
	--termDarkBlue: #786DC4;
	--termLiteBlue: #8572F8;
	--termDarkMagenta: #B21889;
	--termLiteMagenta: #D200A0;
	--termDarkCyan: #00A0BE;
	--termLiteCyan: #19C4F1;
	--termDarkWhite: #D0D0D0;
	--termLiteWhite: #FFFFFF;

	--contDarkBlack: #000000;
	--contLiteBlack: #535353;
	--contDarkRed:  #A02129;
	--contLiteRed:  #F1B2B6;
	--contDarkGreen:  #246426;
	--contLiteGreen:  #86D088;
	--contDarkYellow:  #6C4428;
	--contLiteYellow:  #DFB79B;
	--contDarkBlue:  #58508F;
	--contLiteBlue:  #C1BCE4;
	--contDarkMagenta:  #A2167D;
	--contLiteMagenta:  #E3ABD4;
	--contDarkCyan:  #005868;
	--contLiteCyan:  #73CBDB;
	--contDarkWhite:  #D0D0D0;
	--contLiteWhite:  #FFFFFF;

	--grey0:  #000000;
	--grey1:  #1E212B;
	--grey2:  #282B35;
	--grey3:  #505050;
	--grey4:  #DCDCDC;
	--grey5:  #FFFFFF;

	--plainTextColour: var(--termLiteWhite);
	--h1Colour: var(--termLiteCyan);
	--h2Colour: var(--termLiteGreen);
	--h3PlusColour: var(--termLiteMagenta);
	--codeColour: var(--termLiteYellow);
	--backgroundColour: var(--background);
	--tableColour: var(--termLiteRed);
	--linkPlainColour: var(--termLiteBlue);
	--linkVisitedColour: var(--termDarkBlue);
}*/


*
{
	font-size:  1.2em;
	margin:  0em;
	font-family:  Calibri, sans-serif;
	font-weight:  500;
	box-shadow:  0em 0em #00000000;
	border-radius:  0em;
	border:  0em;
	background:  #00000000;
}

window
{
	background:  #282B35FF;
}
headerbar
{
	background:  #FFFFFFFF;
}
.title
{
	font-size:  0.65em;
	color:  #1E212BFF;
}

separator
{
	background:  #FFFFFF;
	margin:  1.0em;
}

label#label-title
{
	font-size:  1.6em;
	font-weight:  560;
}

label#label-bolderline
{
	font-size:  1.05em;
	font-weight:  600;
	text-decoration:  underline;
}
box > label
{
	font-size:  1.0em;
}

button
{
	background:  #005868;
	border-radius:  1.0em;
	margin:  0.15em;
	background-image:  radial-gradient(#FFFFFF19, #00000030);
}
button.minimize,
button.maximize,
button.close
{
	background: #00000000;
	color: #1e212bff;
}

switch
{
	border-radius: 1.0em;
	border:  1.0em;
	padding:  0.15em;
	background:  #0000003f;
}
switch:checked
{
	padding:  0.1em;
	background:  #005868ff;
}
switch > slider
{
	border-radius:  1.0em;
	background:   #757575ff;
}

text
{
	background:  #FFFFFFED;
	color:  #000000;
	padding:  0.3em;
	margin:  0.2em;
	border-radius:  0.4em;
	border:  1.5px solid #000000DF;
}
